
body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
  }

.rrr{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    padding-top: 0px ;
    padding-left: 56px;
    padding-right: 10px ;
    padding-bottom: 10px ;
    border-radius: 30px;
}

.img1,.r3{
   display: flex;
   margin-right: 10px;
}
.img2,.r4{
    display: flex;
    margin-right: 10px;
    margin-top: 0px;
}
.img3,.r5{
    display: flex;
    margin-right: 10px;
}
.k1{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.k2{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
    margin-bottom: 0px;
}
.k3{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;

}
.k4{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.k5{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
}
h1{
    font-size: 58px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
.img2{
    margin-top: 12px;
}
.kkk{
    width: 350;
    height: 510px;
    margin-top: 39px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.i1{
    display: block;
    margin-top: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 180px;
    border-radius: 6px;
    border-color: hsl(235, 18%, 26%);
    border-style: solid;
    border-width: 1px;
    background-color:  hsl(0, 0%, 100%);
}
.i2{
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 157px;
    border-radius: 7px;
    text-align: center;
    background-color:  hsl(234, 29%, 20%);
    border: none;
    color: hsl(0, 0%, 100%);
}